/* Efecto de desplazamiento suave */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif; /* Aplica la fuente de Google Fonts a todo el cuerpo */
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #ff69b4, #87ceeb, #ff69b4);
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Efecto de sombra suave para los elementos principales */
 header, .footer {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

header {
  background-color: lightpink;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
}

header h1 {
  margin: 0;
  font-size: 28px;
  color: white;
}

.contain-header{
  width: 1000px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.negrita {
  font-weight: bold;
}

#animated-heading {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

header img {
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.1);
}

main {
  justify-content: center;
  padding: 20px 0;
  display: flex;
}

aside {
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 25%; 
  background-color: #ffccbc; 
  padding: 20px 0;
  text-align: center;
}

/* Estilos para el contenedor de promociones */
.promociones .container-promociones {
  background-color: lightpink;
  padding: 20px 0; /* Relleno superior e inferior de 20px, y sin relleno a los lados */
  margin: 0 auto 50px; /* Margen superior e inferior de 50px y márgenes laterales automáticos */
  display: flex; /* Activar el modelo de caja flexible */
  flex-direction: column; /* Apilar los elementos hijos verticalmente */
  align-items: center; /* Centrar horizontalmente los elementos hijos */
  text-align: center; /* Alinear horizontalmente el texto dentro de los elementos */
  justify-content: center; /* Centrar verticalmente los elementos */
  height: 150px; /* Establecer una altura fija de 150px */
  width: 82%;
}

.promociones h2,
.promociones p {
  padding-left: 20px;
  text-align: center;
}

aside h2 {
  color: #d81b60; /* Rosa más oscuro para el título */
}

article {
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  background-color: #ffccbc; /* Rosa más claro */
  width: 75%;
  padding: 20px;
}

article h2 {
  color: #d81b60; /* Rosa más oscuro para el título */
}

.tendencia {
  margin-bottom: 20px;
}

.tendencia img {
  max-width: 15%;
  border-radius: 5px;
}

.footer {
  display: inline-block;
  background-color: lightpink;
  color: #333333;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  margin-top: 50px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.footer-info,
.footer-contacto,
.footer-social {
  flex: 0 0 30%;
  max-width: 30%;
  padding: 0 20px;
}

.footer-info h3,
.footer-contacto h3,
.footer-social h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-info p,
.footer-contacto p,
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer-contacto p {
  margin-bottom: 10px;
}

.footer-social ul li {
  margin-bottom: 8px;
}

.footer-social ul li a {
  text-decoration: none;
  color: #333333;
}

.footer-social a:hover {
  color: #ff1493; 
  font-weight: bold;
}

.footer-social img {
  width: 30px; /* Ajusta el ancho de las imágenes según sea necesario */
  height: auto; /* Esto mantiene la proporción de la imagen */
}

.linea-separadora {
  border-top: 1px solid #837c7c;
  margin-top: 45px;
  margin-bottom: 20px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  color: #666;
  font-size: 14px;
}

.galeria-productos {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.featured-products {
  margin-bottom: 50px;
  margin-top: 50px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
  
nav {
    width: 100%;
    background-color: #ff1493;
    float: right;
    margin-bottom: 50px; 
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: white;
}

.navbar-nav {
    width: 100%; /* Asegura que la lista de navegación ocupe todo el ancho disponible */
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
}

.navbar-nav .nav-item {
    text-align: center; /* Centra el texto dentro de cada elemento */
    font-size: 17px;
    font-weight: bold;
}
  
.btn-rosa {
    background-color: #c71585;
    border-color: #c71585;
    color: #fff;
}
  
.product {
    float: left;
    width: 30%;
    margin-right: 3%;
    text-align: center;
}
  
.product img {
    width: 100%;
    border-radius: 5px;
}
  
button {
    background-color: pink;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-item {
  display: none; /* Oculta todas las imágenes por defecto */
  animation: slideInOut 9s infinite; /* Aplica la animación a todas las imágenes */
}

.carousel-item.active {
  display: block; /* Muestra la imagen activa */
}

@keyframes slideInOut {
  0% {
    transform: translateX(100%); /* Desliza la imagen fuera de la pantalla hacia la derecha */
  }
  25% {
    transform: translateX(0%); /* Detiene la imagen en su posición durante el 25% de la animación */
  }
  75% {
    transform: translateX(0%); /* Mantiene la imagen en su posición durante el 75% de la animación */
  }
  100% {
    transform: translateX(-100%); /* Desliza la imagen fuera de la pantalla hacia la izquierda */
  }
}

#transicion-jupiter1,
#transicion-jupiter2,
#transicion-jupiter3 {
  transition: transform 0.9s ease;
}

#Jupiter1,
#Jupiter2,
#Jupiter3 {
  float: inline-start;
  margin-left: 25%;
}

/* Estilos básicos del botón de ubicación */
.location-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

/* Efecto de hover */
.location-btn:hover {
  background-color: #ff1493;
}

#map-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px; /* Ancho deseado del contenedor */
    height: 300px; /* Alto deseado del contenedor */
    border-radius: 10px; /* Añade bordes redondeados */
    overflow: hidden; /* Oculta el desbordamiento */
    z-index: 9998; /* Asegura que esté por debajo del botón */
}

/* Estilos adicionales para el logotipo */
#logo {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al logotipo */
  border-radius: 10px; /* Redondea las esquinas del logotipo */
}

@media (min-width: 790px) {
    footer {
    background: #1b1e23;
    padding-left: 120px;
    padding-right: 80px;
  }
}

.contain-form {
  max-width: 400px;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contain-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.contain-form h2:hover {
  color: rgb(151, 46, 151);
}

.form-group {
  margin-bottom: 15px;
}

.contain-form label {
  font-weight: bold;
}

.contain-form input[type="text"],
.contain-form input[type="email"],
.contain-form select,
.contain-form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contain-form input[type="date"] {
  width: calc(100% - 22px);
}

.contain-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contain-form button:hover {
  background-color: #45a049;
}

.contain-form button:active {
  background-color: #3e8e41;
}

.contain-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.contain-form select::-ms-expand {
  display: none;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.styled-table th, .styled-table td {
  padding: 10px;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
  background-color: #ddd;
}

.contain-informacionAcercaDe {
  max-width: 800px;
  margin: 120px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.info {
  flex-grow: 1;
  background-color: #f9f9f9; /* Fondo ligeramente gris */
  padding: 20px;
  border-radius: 8px;
}

.info h1 {
  margin-top: 0;
  color: #333;
}

.info p {
  margin: 10px 0;
  color: #666;
}

.info strong {
  font-weight: bold;
  color: #333;
}
