/* -------------------------------------------- HTML ---------------------------------------------------- */
html {
  scroll-behavior: smooth; /* Efecto de desplazamiento suave */
}

/* ----------------------------------------- BODY Y FONDO ----------------------------------------------- */
body {
  font-family: 'Poppins', sans-serif; /* Aplica la fuente de Google Fonts a todo el cuerpo */
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #ff69b4, #87ceeb, #ff69b4);
  animation: graduacion-del-fondo 10s ease infinite;
}

@keyframes graduacion-del-fondo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* -------------------------------------------- HEADER ---------------------------------------------------- */
.contain-header{
  width: 1000px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  background-color: lightpink;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Efecto de sombra suave */
}

header h1 {
  margin: 0;
  font-size: 25px;
  color: white;
}

header img {
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.1);
}

.negrita {
  font-weight: bold;
}

#animacion-header {
  opacity: 0;
  animation: animacionOpacacidad 2s ease forwards;
}

@keyframes animacionOpacacidad {
  to {
      opacity: 1;
  }
}

#logo {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al logotipo */
  border-radius: 10px; /* Redondea las esquinas del logotipo */
}

/* ---------------------------------------------- NAV ---------------------------------------------------- */
nav {
  width: 100%;
  background-color: #ff1493;
  float: right;
  margin-bottom: 50px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.navbar-nav {
  width: 100%; /* Asegura que la lista de navegación ocupe todo el ancho disponible */
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
}

.navbar-nav .nav-item {
  text-align: center; /* Centra el texto dentro de cada elemento */
  font-size: 17px;
  font-weight: bold;
}

#navbar .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7); /* Texto con opacidad */
  transition: color 0.3s ease; /* Agrega una transición suave */
  font-size: 20px;
}

#navbar .navbar-nav .nav-link:hover {
  color: white; /* Cambia el color del texto al pasar el mouse */
}

.centered-nav-items {
  display: flex;
  justify-content: center;
  flex: 1; /* Para que ocupe el espacio restante y empuje el botón a la derecha */
  margin-left: 180px;
}

#botonMostrarCarrito {
  border-radius: 20px; /* Radio de borde para redondear el botón */
  color: #fff; /* Color del texto del botón */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  margin-left: auto;
  background-color: rgb(255, 132, 152);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Efecto de sombra suave */
}

.setting-btn {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: rgb(189, 36, 125);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
}

.bar {
  width: 30px;
  height: 2px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}

/* -------------------------------------------- FOOTER --------------------------------------------------- */
.container-footer {
  bottom: 0; 
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  padding: 20px; 
  align-items: flex-start; 
}

.footer {
  display: inline-block;
  background-color: lightpink;
  color: #333333;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  margin-top: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Efecto de sombra suave */
}

.footer-info,
.footer-contacto,
.footer-social {
  flex: 1; /* Ocupa el espacio disponible */
  width: 30%;
  padding: 0 20px;
  margin: 0 auto; /* Centra horizontalmente */
}

.footer-info h3,
.footer-contacto h3,
.footer-social h3 {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-info p, 
.footer-contacto p, 
.footer-social p {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: left; /* Alinea el texto al centro */
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer-social ul li {
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.footer-social ul li a {
  text-decoration: none;
  color: #333333;
}

.footer-social a:hover {
  color: #ff1493; 
  font-weight: bold;
}

.footer-social img {
  width: 30px; /* Ajusta el ancho de las imágenes según sea necesario */
  height: auto; /* Esto mantiene la proporción de la imagen */
}

.linea-separadora {
  border-top: 1px solid #666;
  margin-top: 45px;
  margin-bottom: 20px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  color: #666;
  font-size: 14px;
}

/* -------------------------------------------- BUTTON ---------------------------------------------------- */
button {
  background-color: pink;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* -------------------------------------------- MAIN ---------------------------------------------------- */
main {
  justify-content: center;
  padding: 20px 0;
  display: flex;
  width: 100%;
}

/* -------------------------------------------- ASIDE --------------------------------------------------- */
aside {
  height: 1120px;
  display: flex;
  flex-direction: column;
  width: 35%; 
  background-color: transparent; 
  padding: 20px 0;
  text-align: center;
  margin-bottom: 1050px;
  margin-top: 600px; 
  background-color: pink;
  border-radius: 20px;
}

aside h2 {
  color: #d81b60; /* Rosa más oscuro para el título */
}

aside ul li {
  list-style: none;
  text-align: left;
  padding-right: 28px;
  color: black; 
  text-decoration: none;
}

.li1,
.li2,
.li3,
.li4,
.li5 {
  text-align: left;
  padding-bottom: 15px;
}

.li1:before {
  content: ""; /* Crea un contenido vacío antes del elemento li4 */
  display: inline-block; /* Hace que el elemento sea un bloque en línea */
  width: 30px; /* Establece el ancho del elemento en 60 píxeles */
  height: 30px; /* Establece la altura del elemento en 60 píxeles */
  background-image: url('Imagenes/numero-1.png'); /* Establece la imagen de fondo */
  background-size: cover; /* Escala la imagen de fondo para cubrir todo el área */
  margin-right: 10px; /* Establece el margen derecho en 10 píxeles */
  margin-top: 1px; /* Establece el margen superior en 41 píxeles */
  vertical-align: middle; /* Alinea verticalmente el elemento */
}

.li2:before {
  content: ""; 
  display: inline-block;
  width: 30px; 
  height: 30px; 
  background-image: url('Imagenes/dos.png'); 
  background-size: cover; 
  margin-right: 10px;
  margin-top: 1px; 
  vertical-align: middle; 
}

.li3:before {
  content: ""; 
  display: inline-block;
  width: 30px; 
  height: 30px; 
  background-image: url('Imagenes/tres.png'); 
  background-size: cover; 
  margin-right: 10px;
  margin-top: 1px; 
  vertical-align: middle;
}

.li4:before{
  content: ""; 
  display: inline-block;
  width: 30px; 
  height: 30px; 
  background-image: url('Imagenes/cuatro.png'); 
  background-size: cover; 
  margin-right: 10px;
  margin-top: 1px; 
  vertical-align: middle;
}

.li5:before {
  content: ""; 
  display: inline-block;
  width: 30px; 
  height: 30px; 
  background-image: url('Imagenes/cinco.png'); 
  background-size: cover; 
  margin-right: 10px;
  margin-top: 1px; 
  vertical-align: middle;
}

.li1:hover,
.li2:hover,
.li3:hover,
.li4:hover,
.li5:hover {
  transform: scale(1.1); /* Aumentar el tamaño */
  transition: transform 0.3s ease; /* Agregar una transición suave */
}

/* -------------------------------------------- ARTICLE -------------------------------------------------- */
article {
  height: 1120px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  background-color: transparent; 
  width: 65%;
  padding: 20px;
  margin-bottom: 1050px;
  max-width: 800px;
  box-shadow: 0 0 20px gray;
  margin-top: 600px; 
  background-color: pink;
  border-radius: 20px;
}

article h2 {
  color: #d81b60; /* Rosa más oscuro para el título */
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------ INDEX.HTML ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nuestras-marcas {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: opacity 0.3s; /* Transición suave para la opacidad */
}

/* Estilos para el título "Nuestras Marcas" */
.nuestras-marcas h2 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: #191919;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Estilos para la lista de marcas */
.nuestras-marcas ul {
  list-style: none;
  padding: 0;
}

/* Estilos para los elementos de la lista de marcas */
.nuestras-marcas li {
  display: inline-block; /* Mostrar elementos en línea */
  margin-right: 10px; /* Espacio entre elementos */
}

/* Estilos para las imágenes de las marcas */
.nuestras-marcas li img {
  width: 100px; /* Ancho de las imágenes */
  height: auto; /* Altura ajustada automáticamente */
}

/* Estilos para las imágenes de las marcas al pasar el mouse por encima */
.nuestras-marcas li img:hover {
  opacity: 0.7; /* Cambia la opacidad al pasar el mouse por encima */
}

#carouselExampleAutoplaying {
  margin-bottom: 50px;
}

/* Estilos para el contenedor de promociones */
.promociones .container-promociones {
  background-color: pink;
  padding: 20px 0; /* Relleno superior e inferior de 20px, y sin relleno a los lados */
  margin: 0 auto 50px; /* Margen superior e inferior de 50px y márgenes laterales automáticos */
  display: flex; /* Activar el modelo de caja flexible */
  flex-direction: column; /* Apilar los elementos hijos verticalmente */
  align-items: center; /* Centrar horizontalmente los elementos hijos */
  text-align: center; /* Alinear horizontalmente el texto dentro de los elementos */
  justify-content: center; /* Centrar verticalmente los elementos */
  height: 150px; /* Establecer una altura fija de 150px */
  width: 82%;
  margin-top: -1px;
}

.promociones h2,
.promociones p {
  padding-left: 20px;
  text-align: center;
}

.tendencia {
  margin-bottom: 40px;
}

.tendencia h3 {
  color: #FF69B4; /* Color rosa */
}

.video-contain-tendencia {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporción 16:9 para videos */
  overflow: hidden;
}

.video-contain-tendencia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.productos-destacados{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-bottom: 420px;
}

.productos-destacados h2 {
  text-align: center;
  margin-bottom: -100px;
}

.producto-destacado-card {
  float: left;
  width: 30%;
  margin-right: 3%;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  background-color: transparent;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  margin-bottom: 20px;
  margin-right: 1px; 
  margin-top: 20px;
  border-radius: 20px;
}

.producto-destacado-card img {
  width: 100%;
  border-radius: 5px;
  max-width: 100%; 
  height: auto; 
  max-width: 200px; 
  margin-bottom: 20px;
}

.carousel-item {
  position: absolute; /* Para que las imágenes no se superpongan */
  display: block; /* Muestra la imagen activa */
}

.carousel-item img {
  width: 200px; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 600px;
  animation: desplazamientoInfinito 13s infinite; /* Aplica la animación a todas las imágenes */
}

.carousel-item.active {
  display: block; /* Muestra la imagen activa */
}

@keyframes desplazamientoInfinito {
  0% {
    transform: translateX(100%); /* Desliza la imagen fuera de la pantalla hacia la derecha */
  }
  25% {
    transform: translateX(0%); /* Detiene la imagen en su posición durante el 25% de la animación */
  }
  75% {
    transform: translateX(0%); /* Mantiene la imagen en su posición durante el 75% de la animación */
  }
  100% {
    transform: translateX(-100%); /* Desliza la imagen fuera de la pantalla hacia la izquierda */
  }
}

.transicion-manual {
  transition: transform 0.8s ease;
}

#transicion1,
#transicion2,
#transicion3,
#transicion4,
#transicion5,
#transicion6,
#transicion7,
#transicion8,
#transicion9,
#transicion10,
#transicion11,
#transicion12,
#transicion13,
#transicion14,
#transicion15,
#transicion16 {
  transition: transform 0.5s ease;
}

#tran1,
#tran2,
#tran3,
#tran4,
#tran5,
#tran6,
#tran7,
#tran8,
#tran9,
#tran10,
#tran11,
#tran12,
#tran13,
#tran14,
#tran15,
#tran16 {
  float: inline-start;
  margin-left: 25%;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- PRODUCTOS.HTML ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#temporizador {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tabla-carrito {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 0 auto;
  border-radius: 5px;
}

.tabla-carrito th, .tabla-carrito td {
  padding: 10px;
  text-align: left;
}

.tabla-carrito th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.tabla-carrito tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-carrito tbody tr:hover {
  background-color: #ddd;
}

.tabla-carrito tfoot td:last-child {
  font-weight: bold; /* Hace que el texto sea más grueso */
  color: blue; /* Cambia el color del texto a rojo para destacarlo */
}

#botonComprar {
  background-color: #2844e2; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como elemento en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Margen exterior */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 10px; /* Bordes redondeados */
  transition-duration: 0.4s; /* Duración de la transición */
  margin-top: 20px;
}

#botonComprar:hover {
  background-color: #223ac4; /* Color de fondo al pasar el ratón */
  color: white; /* Color del texto al pasar el ratón */
}

#botonComprarAzul {
  background-color: #2844e2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-top: 20px; /* Espacio entre la tabla y el botón */
  margin-bottom: -20px;
}

.eliminar-fila {
  border-radius: 20px; /* Ajusta el radio de borde para hacerlo redondeado */
}

.contain-categorias {
  width: 20%;
  padding: 20px;
  background-color: #f2f2f2;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 50px;
  border-radius: 20px;
  height: 365px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid #beb1b8; /* Color del borde */
}

.contain-categorias h3 {
  text-align: center;
  margin-bottom: 15px;
}

.categorias {
  list-style: none;
  padding: 0;
}

.categorias li {
  cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
  margin-bottom: 12px; /* Espacio entre elementos */
  text-align: center; /* Centra el texto dentro de los elementos */
  padding: 10px; /* Añade un poco de relleno alrededor del texto */
  background-color: #f2f2f2; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-size: 18PX;
}

.categorias li:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo al pasar sobre los elementos */
}

.categorias li.active {
  color: blue; /* Color de texto al hacer hover o al seleccionar la categoría */
  font-weight: bold;
}

.contenedor-productos {
  display: flex;
  width: 100%;
}

.contenedor-cards-productos {
  margin-left: 50px;
  display: block;
  width: 80%;
}

.productos {
  width: 100%;
  height: auto;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%; /* Ocupar todo el ancho del contenedor */
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.card-title {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  margin-left: 15px;
}

.card-body {
  width: 100%;
  margin-bottom: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: row; /* Coloca los elementos en columnas */
  padding: 10px;
  flex: 1;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px; /* Radio de borde para redondear el botón */
}

.card-body p {
  color: #000000;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: justify;
  font-size: 15px;
}

.card-body img {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.card-img-top {
  transition: transform 0.3s ease; /* Transición suave */
}

.card-img-top:hover {
  transform: scale(1.2); 
}

.info-card {
  width: 70%; /* Ajusta el ancho del contenido de la tarjeta */
  background-color: transparent;
  margin-left: 50px;
}

.info-card p{
  font-size: 18PX;
}

.card-title,
.btn-primary,
.cantidad {
  text-align: right;
  margin-top: 5px; /* Ajusta el margen superior */
}

.btn-primary.agregar-al-carrito {
  margin-top: 20px;
}

/* Estilos para los detalles del producto (código y precio) */
.detalle {
  margin-top: 10px;
  font-size: 14px;
  text-align: right;
}

.detalle span {
  display: block;
}

.detalle span:first-child {
  font-weight: bold;
  color: #333; /* Color del texto */
}

.detalle span:last-child {
  color: #000000; /* Color del texto */
  font-weight: bold;
  font-size: 30px
}

.linea-card {
  border-bottom: 1px solid #ffffff; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Efecto de sombra suave */
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.cantidad label {
  margin-right: 5px; /* Ajusta el margen derecho del etiqueta */
}

.cantidad input {
  height: 43px;
  width: 100px;
}

input[type="number"] {
  border: none; /* Elimina el borde */
}

/* Estilo para los botones de incremento y decremento */
.increment-button,
.decrement-button {
    height: 30px;
    width: 30px;
    background-color: #f0f0f0;
    cursor: pointer;
}

/* Estilo para separar los botones */
.increment-button {
    border-right: 1px solid #ccc;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
  width: fit-content;
  margin-left: auto; /* Mueve el botón hacia la derecha */
}

.btn-primary:hover {
  background-color: #45a049; /* Cambiar el color de fondo cuando se pasa el mouse sobre el botón */
}

.btn-primary:active {
  background-color: #3e8e41;
}

.card.bases,
.card.labiales,
.card.polvos,
.card.paletas {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenedor-carrito {
  display: none; /* Inicialmente oculto */
  position: fixed; /* Fijo en la ventana */
  top: 0; /* Arriba de la ventana */
  right: -100%; /* Inicialmente fuera de la ventana hacia la derecha */
  bottom: 0; /* Abajo de la ventana */
  left: 0; /* Izquierda de la ventana */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
  z-index: 999; /* Orden en capas, para estar por encima de otros elementos */
  transition: right 0.3s ease; /* Transición suave al mostrar/ocultar */
  right: 0; /* Trae el contenedor desde la derecha cuando se muestra */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Estilos para el contenido del carrito */
.carrito-content {
  max-width: 1200px; /* Ancho máximo del contenido del carrito */
  height: 100%; /* Altura del contenido al 100% del contenedor */
  margin: 70px auto; /* Margen superior e inferior de 70px, centrado horizontalmente */
  background-color: #fff; /* Fondo blanco */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  position: absolute; /* Posicionamiento absoluto con respecto al contenedor padre */
  top: 0; /* Arriba del contenedor padre */
  bottom: 0; /* Abajo del contenedor padre */
  right: 0; /* Derecha del contenedor padre */
  width: 80%; /* Ancho del contenido del carrito */
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es largo */
  margin: 0; /* Elimina el margen predeterminado */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  display: block; /* Mostrar el carrito cuando tenga la clase 'active' */
}

#mostrarCarrito {
  justify-content: left; /* Alineamos el contenido a la derecha */
  margin-left: 1025px;
  margin-bottom: -150px;
  width: 100%;
}

#botonOcultarCarrito {
  border-radius: 20px; /* Radio de borde para redondear el botón */
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

#cantidadMostrarCarrito {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 6px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

/* Estilo para el formulario de compra */
#formulario-compra {
  width: 80%; /* Ancho del formulario */
  margin: 0 auto; /* Centrar el formulario en la página */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 100px;
  transition: opacity 0.5s ease-in-out; 
  margin-bottom: 40px;
}

/* Estilo para los campos del formulario */
#formulario-compra div {
  margin-bottom: 15px;
}

#formulario-compra label {
  display: block; /* Mostrar etiquetas en una línea separada */
  margin-bottom: 5px;
}

#formulario-compra input[type="text"] {
  width: 100%; /* Ancho completo */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilo para el botón de enviar */
#formulario-compra button[type="submit"] {
  display: block; /* Mostrar el botón en una línea separada */
  width: 100%; /* Ancho completo */
  padding: 10px;
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 3px;
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

/* Estilo para el botón de enviar al pasar el cursor */
#formulario-compra button[type="submit"]:hover {
  background-color: #45a049; /* Color de fondo al pasar el cursor */
}

.oculto {
  display: none;
}

#provincia {
  width: 100%; /* Establecer el ancho al 100% */
}

/* ------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- CONTACTO.HTML ------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------- */
.contain-formulario {
  max-width: 400px;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contain-formulario h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.contain-formulario p {
  max-width: 300px; /* Establece el mismo ancho máximo que el formulario */
  margin: 0 auto; /* Centra el párrafo horizontalmente dentro del formulario */
  text-align: justify;
  margin-bottom: 25px;
}

.contain-formulario h2:hover {
  color: rgb(151, 46, 151);
}

.contain-formulario label {
  font-weight: bold;
}

.contain-formulario input[type="text"],
.contain-formulario input[type="email"],
.contain-formulario input[type="date"],
.contain-formulario select,
.contain-formulario button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contain-formulario button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contain-formulario button:hover {
  background-color: #45a049;
}

.contain-formulario button:active {
  background-color: #3e8e41;
}

.contain-formulario select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.contain-formulario select::-ms-expand {
  display: none;
}

.campo-formulario {
  margin-bottom: 15px;
}

input[type="text"] {
  border: none; /* Oculta el borde del input */
  background-color: transparent; /* Hace el fondo transparente */
  width: 100%; /* Ajusta el ancho del input */
  text-align: center; /* Centra el texto */
}

/* ------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- ACERCA DE.HTML ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
.contain-informacionAcercaDe {
  max-width: 800px;
  margin: 120px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.cuadro-acerca-de {
  display: flex;
  align-items: center;
}

.cuadro-acerca-de img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.info {
  flex-grow: 1;
  background-color: #f9f9f9; /* Fondo ligeramente gris */
  padding: 20px;
  border-radius: 8px;
}

.info h1 {
  margin-top: 0;
  color: #333;
}

.info p {
  margin: 10px 0;
  color: #666;
}

.info strong {
  font-weight: bold;
  color: #333;
}

.video-container {
  margin-top: -100px; /* Ajusta este valor según sea necesario para mover el video hacia arriba */
  display: block; /* Asegura que el video sea un elemento de bloque para aplicar los márgenes correctamente */
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}

video {
  border-radius: 20px;
}

.audio-container {
  margin-top: 20px; /* Ajusta este valor según sea necesario para mover el video hacia arriba */
  display: block; /* Asegura que el video sea un elemento de bloque para aplicar los márgenes correctamente */
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- UBICACION.HTML ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#map {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-info-map {
  text-align: center;
}

.contenedor-info-map p {
  margin-top: 5px;
}

/* -------------------------------------------- @MEDIA ---------------------------------------------------- */
@media screen and (max-width: 767px) { /* Media query para pantallas pequeñas (máximo 767px) */
  .contain-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contain-header img {
    margin: 0 auto;
    max-width: 80%;
    display: block;
  }

  #animacion-header {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    text-align: center;
  }

  .carousel-item img {
    height: 300px;
  }

  /* Cambios en la disposición de los elementos de navegación */
  .centered-nav-items {
    text-align: center;
  }

  /* Estilos para el contenido principal */
  .contain-categorias {
    padding: 10px;
    width: 50%;
}

.categorias {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categorias li {
  margin: 5px auto; /* Centra los elementos */
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  display: block; /* Cambia el display a block para que cada elemento esté en una línea */
  width: 80%; /* Anchura para que no sean demasiado anchos en pantallas pequeñas */
}

  .contenedor-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-cards-productos {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cantidad {
    margin-top: 10px;
}

.cantidad input {
    width: 50px;
}

.increment-button,
.decrement-button {
    display: flex;
}

/* Estilos para los detalles de los productos */
.detalle {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px; /* Reducir el tamaño del texto de los detalles */
}

/* Estilos para la imagen dentro de los cards */
.card-img {
  width: 100%;
  height: 200px; /* Establecer una altura fija para las imágenes */
  object-fit: cover; /* Ajustar la imagen para que cubra completamente el contenedor */
  border-radius: 5px 5px 0 0; /* Agregar un borde redondeado solo en la parte superior */
}

/* Estilos para el contenido dentro de los cards */
.card-content {
  padding: 15px;
  height: 150px; /* Establecer una altura fija para el contenido dentro de los cards */
  overflow: hidden; /* Ocultar el contenido que se desborde del card */
}

/* Estilos para la imagen dentro del card */
.card-img-top {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  border-radius: 5px 5px 0 0; /* Agrega un borde redondeado solo en la parte superior */
  margin-bottom: 50px;
  display: block; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}

/* Estilos para el contenedor del card */
.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-body img {
  display: block; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}

/* Estilos para el contenido dentro del card */
.info-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente dentro del card */
  justify-content: space-between; /* Distribuye uniformemente el espacio entre los elementos */
  height: 100%; /* Establece la altura del contenedor para ocupar todo el espacio disponible */
}

/* Ajustar el tamaño del título y el texto dentro de los cards */
.card-title,
.card-text {
  font-size: 16px; /* Aumentar el tamaño del texto para que sea más legible */
  line-height: 1.5; /* Ajustar el espaciado entre líneas para mejorar la legibilidad */
  overflow: hidden; /* Ocultar el texto que se desborde del card */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) cuando el texto se desborde */
  white-space: normal; /* Permitir que el texto se desborde hacia abajo si es necesario */
  text-align: center;
}

.card-title {
  margin-top: 20px;
  margin-bottom: -10px;
}

.btn-primary.agregar-al-carrito {
  width: 100%; /* Asegura que el botón ocupe todo el ancho del card */
  margin-top: 10px; /* Espacio superior para separar el botón del contenido anterior */
  margin-bottom: 10px; /* Espacio inferior para separar el botón del contenido siguiente */
}

/* Estilos adicionales para los botones "Agregar al carrito" cuando están dentro de un card-body */
.card-body .agregar-al-carrito {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
}

  /* Cambios en el tamaño del botón del carrito */
  #botonMostrarCarrito {
    font-size: 18px;
  }

  .navbar-nav {
      text-align: center;
  }

  .nav-item {
      margin-bottom: 10px;
  }

  .productos-destacados {
    display: flex;
  }

  .productos-destacados h2 {
    margin-bottom: 100px;
  }

  .producto-destacado-card {
      width: 45%;
      margin-bottom: 20px;
  }

  /* Estilos para el aside y el artículo */
  aside, article {
      width: 100%;
      margin-bottom: 20px;
  }

  .li1, .li2, .li3, .li4, .li5 {
      padding-left: 20px;
  }
  
  /* Estilos para el footer */
  .footer-info, .footer-contacto, .footer-social {
      text-align: center;
      margin-bottom: 30px;
  }

  .footer-social ul {
      display: flex;
      justify-content: center;
      text-align: center;
  }
}

/* Media query para pantallas muy pequeñas en el INDEX.HTML (máximo 575px) */
@media screen and (max-width: 575px) {
  .contain-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contain-header img {
    margin: 0 auto;
    max-width: 80%;
    display: block;
  }

  #animacion-header {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    text-align: center;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0; /* Eliminar el margen inferior entre elementos del menú en pantallas pequeñas */
  }

  .contenedor-info-map {
    margin-top: 10px; /* Ajustar el margen superior del contenedor del mapa en pantallas pequeñas */
  }

  #map {
    height: 200px; /* Altura del mapa en pantallas pequeñas */
  }

  .footer-social ul {
    flex-direction: column;
    align-items: center;
  }

  .footer-info,
  .footer-contacto,
  .footer-social {
    width: 100%; /* Cambiado a 100% para que ocupen todo el ancho disponible */
  }
}
